body,
html {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  height: 100vh;
  font-family: "Paytone One", sans-serif;
}
.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
