#header {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../image/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header h1,
#header h2 {
  color: white;
}
