#header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background,
.foreground {
  position: absolute;
  z-index: -1;
}

.background {
  transform: translateZ(-12px) scale(4);
  background-color: red;
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  width: 100%;
}

/* .foreground {
  transform: translateZ(-2px) scale(0.7);
  height: 20%;
  width: 100%;
    object-fit: contain;
  object-position: left;
   left: 0;
} 
*/

.title,
.inner-title {
  color: white;
    font-size: 2em;
   text-shadow: 2px 2px 4px red; /* Horizontal, Vertical, Blur, Color */
    /* transform: translateZ(-5px) scale(1);
    margin: 1rem; */
    text-align: center;
}
