#header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background,
.foreground {
  position: absolute;
  z-index: -1;
}

.background {
  transform: translateZ(-12px) scale(4);
  background-color: red;
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  width: 100%;
}

.title,
.inner-title {
  color: white;
  font-size: 8vw; 
  text-shadow: 2px 4px 6px rgb(34, 34, 34);
  transform: translateZ(-5px) scale(1);
  text-align: center;
  width: 90%; 
}

.title {
  font-size: 12vw;
  font-weight: bold;
  transform: translateZ(-5px) scale(1.1);
}

.inner-title {
  font-size: 5vw;
  margin-top: 0.5rem;
  transform: translateZ(-5px) scale(1);
}
