/* רספונסיבי למסכים -גדולים  */
@media (min-width: 768px) {
  #header {
    height: 70vh;
  }

  .background {
    transform: translateZ(-12px) scale(2);
    object-fit: cover;
    object-position: top;
    height: 170%;
    width: 120%;
  }

  .title {
    font-size: 5em;
  }

  .inner-title {
    font-size: 2em;
  }
}
