/* רספונסיבי למסכים -גדולים  */
@media (min-width: 768px) {
  #header {
    height: 70vh;
  }

  .background {
    transform: translateZ(-12px) scale(2);
    object-fit: cover;
    object-position: top;
    height: 170%;
    width: 120%;
  }

  .title {
    font-size: 5em;
  }

  .inner-title {
    font-size: 2em;
  }

  /*  Live Reports */
      #liveReportsDisplay {
        grid-template-columns: 1fr 1.2fr; 
        text-align: left; 
        max-width: 1000px;
        margin: 0 auto;
        gap: 60px;
    }

    .info-container {
        align-items: flex-start; 
    }

    h1 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.2rem;
    }

    .hero-image {
        max-width: 450px;
    }
}
