@media (min-width: 768px) {
  #header {
    height: 70vh;
  }

  .background {
    transform: translateZ(-12px) scale(3);
  }

  /* .foreground {
  transform: translateZ(-2px) scale(1.2);
  height: 60%;
  width: 100%;
    object-fit: contain;
  object-position: left;
} */

  .title,
  .inner-title {
    color: white;
    font-size: 5em;
  }
}
