/* רספונסיבי למסכים -גדולים  */
@media (min-width: 768px) {
  #header {
    height: 70vh;
  }

  .background {
    transform: translateZ(-12px) scale(3);
  }

  .title {
    font-size: 5em; 
  }
  
  .inner-title {
    font-size: 2em; 
  }
}
