     body,
        html {
            padding: 0px;
            margin: 0px;
            height: 100vh;
            background-color: white;
        }

        #header {
            height: 25vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('image/header.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #header>h1 {
            color: white;
              font-family: "Paytone One", sans-serif;
        }

        #header>h2 {
            color: white;
              font-family: "Paytone One", sans-serif;
        }

        #coinsContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;
            height: auto;
            padding: 1rem;
            /* background-color: red; */
        }

        .coin-card {
            display: grid;
            grid-template-columns: 4fr 1fr;
            width: 100%;
            height: auto;
            padding: 1rem;
            background-color: whitesmoke;
            /* border: 1px solid black; */
            border-radius: 1.2rem;
            transition: 0.3s;
        }

        .coin-card:hover {
            transform: translateY(-0.5rem);
            border: 1px solid darkblue;
        }

        .coin-card>div:first-child>button {
            margin-top: 1rem;
        }

        .coin-card>div:last-child {
            width: auto;
            height: auto;
            display: flex;
            justify-content: right;
            /* background-color: brown; */
        }

        .switch {
            scale: 1.7;
        }

        @media (min-width: 768px) {
            #coinsContainer {
                flex-direction: row;
            }

            .coin-card {
                display: grid;
                grid-template-columns: 4fr 1fr;
                /* width: 32%; */
                flex: 1 1 calc(33.333% - 1rem);
                padding: 1rem;
            }

        }