.coin-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  border-radius: 1.2rem;
  transition: 0.5s;
}

.coin-card:hover {
  transform: translateY(-0.3rem);
  border: 1px solid darkblue;
}
.card-title {
  color: var(--primary-text);
}
.card-text {
  color: var(--secondary-text);
}
.switch {
  scale: 1.5;
}
.collapseView {
  background-color: #f9fafb;
}

.price-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  padding: 1rem;
  margin-top: 0.5rem;
}
.price-labal {
  color: var(--primary-text);
  size: 1em;
}
.price-value {
  color: var(--secondary-text);
  size: 2em;
}
.btn-more-info {
    transition: 0.3s;
}
.btn-error {
    background-color: #dc3545 !important; 
    border-color: #dc3545 !important;
    color: white !important;
}
/* .highlight {
    background-color: rgb(255, 187, 0);
    font-weight: bold;
    padding: 0 2px;
    border-radius: 3px;
} */
