.coin-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  border-radius: 1.2rem;
  transition: 0.5s;
}

.coin-card:hover {
  transform: translateY(-0.3rem);
  border: 1px solid darkblue;
}
.card-title{
  color: var(--primary-text);
}
.card-text{
  color: var( --secondary-text);
}
.switch {
  scale: 1.5;
}
