#liveReportsDisplay {
    display: grid;
    grid-template-columns: 1fr; /* טור אחד בלבד בנייד */
    place-items: center;
    align-content: center;
    min-height: 80vh;
    padding: 20px;
    gap: 30px;
    text-align: center; /* טקסט ממורכז בנייד */
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero-image {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

h1 {
    font-size: 1.8rem; 
    margin: 0;
    color: #0c365e;
    line-height: 1.2;
}

p {
    font-size: 1rem;
    line-height: 1.5;
     color: #365573;
    max-width: 100%;
    margin: 0;
}