section {
  min-height: 100vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(10px);
}
.display-section {
  padding: 2rem;
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.051) 10%,  
    var(--primary-color) 40%,      
    var(--primary-color) 100%        
  );
  backdrop-filter: blur(10px);
}
